-r requirements.txt  # always install core first

# ---------------------------
# Testing & Coverage
# ---------------------------
pytest==8.0.2
pytest-timeout==2.1.0
pytest-memray==1.5.0;python_version<"3.13" and sys_platform!="win32" and implementation_name=="cpython"
pytest-socket==0.7.0
pytest-cov==4.1.0
coverage==7.4.1
codecov==2.1.13
pytest-pyodide==0.54.0

# ---------------------------
# Build / Packaging
# ---------------------------
build==1.4.1
wheel==0.46.2
towncrier==23.6.0

# ---------------------------
# Linting / Formatting / Type Checking
# ---------------------------
flake8==7.3.0
isort==5.11.4
black==23.3.0
mypy==1.12.0

# ---------------------------
# Browser / Automation
# ---------------------------
webdriver-manager==4.0.1
